<br />

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>Full-Stack Rails Developer Intern</h4>
      <h5 class="red-text text-darken-3">April 2018 - September 2018</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;AMUSE ANIMATION - PARIS, FRANCE</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Working on the company's main production web tool.<br/>
              <br/>
              &emsp;<i class="fas fa-chevron-right"></i>&emsp;Ruby on Rails<br/>
              &emsp;<i class="fas fa-chevron-right"></i>&emsp;Postgresql<br/>
              &emsp;<i class="fas fa-chevron-right"></i>&emsp;ReactJS<br/>
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <%= image_tag('logoAmuse.png', style: "width:50%;") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><div class="col s1"></div><div class="col s10"><br/><hr /><br/></div><div class="col s1"></div></div>

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>LUA Developer Intern</h4>
      <h5 class="red-text text-darken-3">November 2016 - December 2016</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;AMUSE ANIMATION - PARIS, FRANCE</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Joined a team on the development of a iOS and Android game application based on the company's flagship franchise 'Tom the Towtruck'.<br />
              <br/>
              &emsp;<i class="fas fa-chevron-right"></i>&emsp;LUA<br/>
              &emsp;<i class="fas fa-chevron-right"></i>&emsp;Corona 2D mobile engine.<br/>
              <br/>
              This 2 months internship led to the release of the application on the Apple AppStore and Google PlayStore.<br/>
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <%= image_tag('logoAmuse.png', style: "width:50%;") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><div class="col s1"></div><div class="col s10"><br/><hr /><br/></div><div class="col s1"></div></div>

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>Waiter</h4>
      <h5 class="red-text text-darken-3">April 2015 - January 2016</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;A PRIORI THE - PARIS, FRANCE</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Served customers in a tea salon in the very touristic Palais Royal area in Paris.<br /><br />
              Led the waiting team during rush service hours.<br /><br />
              Occasionally did general managing and accounting task for the restaurant.<br />
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <!-- <%= image_tag('logoAmuse.png', style: "width:50%;") %> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><div class="col s1"></div><div class="col s10"><br/><hr /><br/></div><div class="col s1"></div></div>

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>Materials Handler</h4>
      <h5 class="red-text text-darken-3">June 2013 - August 2013</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;SLS LIVE - LIEVIN, FRANCE</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Loaded and unloaded trucks.<br/><br/>
              Built up and down show stages.<br/><br/>
              Performed warehouse handling tasks and inventory.<br/>
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <%= image_tag('sls.png', style: "width:50%;") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><div class="col s1"></div><div class="col s10"><br/><hr /><br/></div><div class="col s1"></div></div>

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>Windsurf Instructor</h4>
      <h5 class="red-text text-darken-3">June 2012 - August 2012</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;KATAMA WINDSURF - COLONIA DE SANT JORDI, SPAIN</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Gave windsurf lessons and sold windsurfing products.<br/>
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <%= image_tag('katama.jpg', style: "width:50%;") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><div class="col s1"></div><div class="col s10"><br/><hr /><br/></div><div class="col s1"></div></div>

<div class="row">
  <div class="col s12">
    <div class="valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h4>Nurse Trainee</h4>
      <h5 class="red-text text-darken-3">July 2011 - August 2011</h5>
    </div>
    <h5 style="padding-left:1em;" class="grey-text text-darken-1"><i class="fas fa-caret-right"></i>&nbsp;CENTRE HOSPITALIER DRON - TOURCOING, FRANCE</h5>
    <div class="row">
      <div class="valign-wrapper">
        <div class="col s8">
          <blockquote>
            <p class="">
              Did nursing and basic medical training and gave patient care and service.<br />
            </p>
          </blockquote>
        </div>
        <div class="col s4 right-align">
          <%= image_tag('dron.jpg', style: "width:50%;") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding-top:500px;"></div>
