<div class="container">
  <div>
    <ul class="collapsible" style="box-shadow: none;">
      <li>
        <div class="collapsible-header active"><i class="far fa-question-circle"></i><h3>About</h3></div>
          <div class="collapsible-body card horizontal" style="box-shadow: none;">
            <div class="card-stacked">
              <div class="card-content">
                <div class="row">
                  <div class="valign-wrapper">
                    <div class="col s2"></div>
                    <div class="col s6 left-align">
                      <p>I am a 3rd year student at Epitech Paris, currently working as a Full-Stack Rails developer intern for Amuse Animation in Paris, France until September 30th.</p>
                    </div>
                    <div class="col s2 center-align">
                      <%= image_tag('profile.png', style: "width:100%; -webkit-box-shadow: 0 0 18px #EE6E73; border-radius: 50%;") %>
                    </div>
                    <div class="col s2"></div>
                  </div>
                </div>
              </div>
              <div class="card-action" style="display: flex; flex-direction: row; justify-content: space-between;">
                <a style="font-weight: 400;" href="mailto:raphael.beltrand@gmail.com">RAPHAEL.BELTRAND@GMAIL.COM</a>
                <a style="font-weight: 400;">(+33)6.31.73.56.17</a>
                <a style="font-weight: 400;">7 RUE BERTHOLLET, 75005 PARIS</a>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width tab-demo z-depth-1"  style="box-shadow: none;">
        <li class="tab col s3"><a href="#exp">Experience</a></li>
        <li class="tab col s3"><a href="#edu">Education</a></li>
        <li class="tab col s3"><a href="#skill">Skills</a></li>
        <li class="tab col s3"><a href="#interest">Interests</a></li>
      </ul>
    </div>
    <div id="exp" class="col s12" style="overflow: auto; max-height: 100vh;"><%= partial "experience" %></div>
    <div id="edu" class="col s12" style="overflow: auto; max-height: 100vh;"><%= partial "education" %></div>
    <div id="skill" class="col s12"><%= partial "skills" %></div>
    <div id="interest" class="col s12"><%= partial "interests" %></div>
  </div>
</div>
